/**Setup and fonts*/
/*#region*/
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  overflow: hidden;
}

:root{
  --side-width: 16vw;
  --logo-hight: 11.4vw;
}
/*#endregion*/

/**Nav*/
/*#region*/
nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #7a0437;
  display: flex;
  align-items: center;
  overflow: visible;
}

nav .logo-container {
  margin-left: 3.9vw;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
}

nav .text {
  height: 100%;
  font-size: 1.5vw;
  text-decoration: none;
  color: #fff;
}

.logo-container > img {
  height: var(--logo-hight);
  z-index: 1;
}

nav a {
  font-size: 2vmax;
  padding: 1vw 0;
  text-decoration: none;
  color: #fff;
  position: relative;
}

nav  a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 80%;
  left: 0;
  background-color: #f7f7f7;
  transform: scaleX(0);
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover::after {
  transform: scaleX(1);
  visibility: visible;
}

nav > .nav-links {
  position: absolute;
  right: 0;
  width: 87%;
  display: flex;
  justify-content: space-around;
}

.line {
  height: 0.5vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #ffd400;
}
/*#endregion*/

/*#region*/
#content{
  position: absolute;
  bottom: 0;
  height: 90vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

/**Dropdowns*/
/*#region*/
.dropdowns {
  position: absolute;
  top: 0;
  height: 100%;
  width: var(--side-width);
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.dropdowns #container {
  position: relative;
  top: calc(var(--logo-hight) - 10vh);
  width: 100%;
  height: calc(100vh - var(--logo-hight));
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.dropdown{
  width: 95%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 800ms ease;
}

.dropdown .header {
  color: #fff;
  text-decoration: none;
  width: 100%;
  font-size: 1.7vmax;
}

.dropdown[data-status="active"] .header{
  background-color: #7a0437;
}

.dropdown:hover .header {
  background-color: #7a0437;
}

.dropdown-content {
  position: relative;
  height: 0;
  display: block;
  color: #fff;
  font-size: 1vmax;
  text-decoration: none;
  opacity: 0;
  transition: all 800ms ease;
}

.dropdown-content:hover {
  background-color: #7a0437;
}

/*TODO: Make animation smother*/

.dropdown[data-status="active"] .dropdown-content{
  padding: 2% 0;
  height: fit-content;
  opacity: 1;
  animation: open 800ms forwards;
  transition: all 800ms ease;
}

@keyframes open {
  from {
    opacity: 0;
    transform: translate(0, -100%);
  }
  50%{
    transform: translate(0, 0);
  }
  to {
    opacity: 1;
  }
}
/*#endregion*/

/**Updates*/
/*#region*/
.updates {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 41.4vw;
  height: 41.4vw;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

/*TODO: Clamp font sizes*/
.updates h1 {
  position: relative;
  left: 50%;
  top: 7%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  font-size: 2vmax;
}

.update-links {
  position: relative;
  height: 31vw;
  top: 9%;
}

.update-links a {
  display: inline-block;
  margin: 0.5vw 0;
  color: #fff;
  width: 30vw;
  font-size: 1.3vmax;
  text-decoration: none;
}

.update-links a:hover {
  color: rgb(192, 192, 192);
}
/*#endregion*/

/**Houses*/
/*#region*/
.houses {
  position: relative;
  margin-left: auto;
  height: 100%;
  width: var(--side-width);
  color: #fff;
}

/*TODO: Clamp font size*/
.houses p {
  font-size: 0.75vw;
  width: 100%;
  padding: 1% 2%;
  text-align: center;
}

.houses .name {
  font-size: 1.5vmax;
}

.houses .points {
  font-size: 1.25vmax;
}

.houses a {
  font-size: 1.25vmax;
  text-align: center;
  color: #fff;
}

.houses div {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.houses #Aubert {
  background-image: url("/images/Aubert.jpg");
  box-shadow: inset 0 0 0 1000px rgba(61, 72, 105, 0.8);
}

.houses #Barbier {
  background-image: url("/images/Barbier.jpg");
  box-shadow: inset 0 0 0 1000px rgba(44, 132, 83, 0.8);
}

.houses #McAuley {
  background-image: url("/images/McAuley.jpg");
  box-shadow: inset 0 0 0 1000px rgba(184, 15, 10, 0.8);
}

.houses #MacKillop {
  background-image: url("/images/MacKillop.jpg");
  box-shadow: inset 0 0 0 1000px rgba(176, 146, 26, 0.8);
}
/*#endregion*/
/*#endregion*/